<html>
	<head>
		<title> Home(HTML page) </title>
		
		<!--=-
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
		<script type = text/javascript>
				$(document).ready(function(){
					$("#onBut").click(function(event){
							
						});
					});
		
		</script>
		-->
	</head>
	
	<body>
		<h1>Home page</h1>
		<p>This is using templates</p>
		<p>led is off</p>
		<p>press button to on the led</p>

		
		<form action = "/on">
			<button name = "on button" type = "submit">on</button>
		</form>
	</body>
	
</html>
